{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

    <div class="row">
            <div class="col">
                <form action="" method="get">
                    <div class="d-flex flex-wrap align-items-end gap-3 mb-3">

                        <div class="d-flex align-items-center gap-2 flex-grow-1">
                            <label class="form-label mb-0 text-nowrap">
                                <i class="fas fa-code me-1"></i> Язык:
                            </label>
                            <select name="lang" class="form-select">
                                <option value="">Все языки</option>
                                {% for LANG_CHOICE in LANG_CHOICES %}
                                    <option {% if lang == LANG_CHOICE.0 %} selected {% endif %} value="{{ LANG_CHOICE.0 }}">
                                        {{ LANG_CHOICE.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex align-items-center gap-2 flex-grow-1">
                            <label class="form-label mb-0 text-nowrap">
                                <i class="fas fa-code me-1"></i> Теги:
                            </label>
                            <select name="tag" class="form-select">
                                <option value="">Теги</option>
                                {% for t in all_tags %}
                                    <option {% if tag == t.name %} selected {% endif %} value="{{ t.name }}">
                                        {{ t.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="d-flex align-items-center gap-2 flex-grow-1">
                            <label for="authorFilter" class="form-label mb-0 text-nowrap">
                                <i class="fas fa-user me-1"></i> Автор:
                            </label>
                            <select name="user_id" class="form-select">
                                <option value="" selected>Все авторы</option>
                                {% for user in users %}
                                    <option {% if request.GET.user_id == user.id|stringformat:"s" %} selected {% endif %} value="{{ user.id }}">
                                        {{ user.username }} ({{ user.snippet_count }})</option>
                                {% endfor %}

                            </select>
                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary">Применить фильтры</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной страницы отображаться все созданные сниппеты.</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">
                            {% if sort == "name" %}
{#                                <a href="?sort=-name">Название</a>#}
                                 <a href="{% querystring sort='-name' %}">Название</a>
                                <i class="fa-solid fa-arrow-up-a-z"></i>
                            {% elif sort == "-name" %}
                                 <a href="{% querystring sort='name' %}">Название</a>
                                <i class="fa-solid fa-arrow-up-z-a"></i>
                            {% else %}
                                 <a href="{% querystring sort='-name' %}">Название</a>
{#                                <i class="fa-solid fa-arrow-up-a-z"></i>#}
                            {% endif %}
                        </th>
                        <th scope="col">
                            {% if sort == "lang" %}
                                 <a href="{% querystring sort='-lang' %}">Язык</a>
                                <i class="fa-solid fa-arrow-up-a-z"></i>
                            {% elif sort == "-lang" %}
                                <a href="{% querystring sort='lang'%}">Язык</a>
                                <i class="fa-solid fa-arrow-up-z-a"></i>
                            {% else %}
                                <a href="{% querystring sort='lang'%}">Язык</a>
{#                                <i class="fa-solid fa-arrow-up-a-z"></i>#}
                            {% endif %}
                        </th>
                        <th scope="col">
                        {% if sort == "creation_date" %}
                                <a href="?sort=-creation_date">Дата создания</a>
                                <i class="fa-solid fa-sort-up"></i>
                            {% elif sort == "-creation_date" %}
                                <a href="?sort=creation_date">Дата создания</a>
                                <i class="fa-solid fa-sort-down"></i>
                            {% else %}
                                <a href="?sort=creation_date">Дата создания</a>
{#                                <i class="fa-solid fa-arrow-up-a-z"></i>#}
                            {% endif %}
                        </th>
                        <th scope="col">
                            {% if sort == "user" %}
                                <a href="?sort=-user">Автор</a>
                                <i class="fa-solid fa-arrow-up-a-z"></i>
                            {% elif sort == "-user" %}
                                <a href="?sort=user">Автор</a>
                                <i class="fa-solid fa-arrow-up-z-a"></i>
                            {% else %}
                                <a href="?sort=user">Автор</a>
{#                                <i class="fa-solid fa-arrow-up-a-z"></i>#}
                            {% endif %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                     {% for snippet in page_obj %}
                         <tr>
                            <td class="col-1">{{ snippet.id }}</td>
                            <td class="col-7">
                                <i class="{{ snippet.icon }}"></i>
                                <a href="{% url 'snippet-id' snippet.id %}">{{ snippet.name }}</a>
                                {% for tag in snippet.tags_detail %}
                                    <span class="badge bg-primary me-2 mb-1 small">{{ tag }}</span>
                                {% endfor %}
                                {% if  request.user == snippet.user %}
                                <a href="{% url 'snippet-edit' snippet.id %}"><i class="fa-solid fa-pen"></i></a>
                                <a href="{% url 'snippet-delete' snippet.id %}"><i style="color: #564242" class="fa-solid fa-trash"></i></a>
                                {% endif %}
                            </td>
                            <td class="col-1">{{ snippet.lang }}</td>
                            <td class="col-2">{{ snippet.creation_date|date:"d.m.Y H:i" }}</td>
                            <td class="col-1">
                                {% if snippet.public == False %}
                                    <i style="color: #524d4d" class="fa-solid fa-lock"></i>
                                {% endif %}{{ snippet.user | default_if_none:"Аноним"}}
{#                                            {{ snippet.user|default_if_none:"Аноним" }}#}

                            </td>
                        </tr>
                           {% empty %}
                        <tr>
                          <td colspan="5" class="text-center text-muted">
                            {% if request.user.is_authenticated %}
                              Привіт, {{ request.user.username }}! У тебе ще немає жодного сніпета. 😯<br>
                              Не барися — <a href="{% url 'snippet-add' %}" class="btn btn-success">додай свій перший сніпет</a>!
                            {% else %}
                              Сниппеты не найдены. Авторизуйтесь, чтобы добавить свои.
                            {% endif %}
                            <br>
                            <a href="{% url 'snippets-list' %}" class="btn btn-secondary mt-2">Сбросить все фильтры</a>
                          </td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <i class="text-muted">Всего сниппетов: {{ snippet_count }}</i></div>
            </div>
        </div>
    <div class="row">
        <div class="col">
                        {# Блок пагинации #}
            {% if page_obj.has_other_pages %} {# Проверяем, есть ли вообще другие страницы #}
            <nav aria-label="Пагинация статей">
                <ul class="pagination justify-content-center"> {# Центрируем пагинацию #}

                    {# Ссылка на предыдущую страницу #}
                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                        <a class="page-link"
                           {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}
                           tabindex="-1" aria-disabled="true">Предыдущая</a>
                    </li>

{# Номера страниц #}
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item active" aria-current="page">
{#                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>#}
                                        <a class="page-link" href="{% querystring page=num %}">{{ num }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% querystring page=num %}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {# Ссылка на следующую страницу #}
                            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                <a class="page-link"
{#                                   {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Следующая</a>#}
                                   {% if page_obj.has_next %}href="{% querystring page=page_obj.next_page_number %}"{% endif %}>Следующая</a>
                            </li>

                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
    </div>
    {# test block  TAG  Start #}

    {# test block  TAG  Finish #}
{% endblock %}
