{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной страницы отображаться все созданные сниппеты.</p>
{#                <p>Пока тут просто пример, но скоро заменим реальными сниппетами из БД!</p>#}
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Автор</th>
                    </tr>
                    </thead>
                    <tbody>
                     {% for snippet in snippets %}
                         <tr>
                            <td class="col-1">{{ snippet.id }}</td>
                            <td class="col-7">
                               <i class="{{ snippet.icon }}"></i>
                                <a href="{% url 'snippet-id' snippet.id %}">{{ snippet.name }}</a>
                                {% if  request.user == snippet.user %}
                                <a href="{% url 'snippet-edit' snippet.id %}"><i class="fa-solid fa-pen"></i></a>
                                <a href="{% url 'snippet-delete' snippet.id %}"><i style="color: #564242" class="fa-solid fa-trash"></i></a>
                                {% endif %}
                            </td>
                            <td class="col-3">{{ snippet.creation_date|date:"d.m.Y H:i" }}</td>
                            <td class="col-1">
                                {% if snippet.public == False %}
                                    <i style="color: #524d4d" class="fa-solid fa-lock"></i>
                                {% endif %}{{ snippet.user }}
                            </td>
                        </tr>
                     {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <i class="text-muted">Всего сниппетов: {{ snippet_count }}</i></div>
            </div>
        </div>
    </div>
{% endblock %}
